NOTION_TOKEN=your_notion_integration_token
NOTION_ABOUT_DB_ID=About-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_JOURNEY_DB_ID=Journey-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_PROJECTS_DB_ID=Projects-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_NOTEBOOKS_DB_ID=Notebooks-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_CERTIFICATIONS_DB_ID=Certifications-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_BLOG_DB_ID=Blog-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
